@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background: #e1ecff;
  background: -webkit-gradient(linear, left bottom, left top, from(#e1ecff), color-stop(47%, #b0d5ff), to(#67a1ff));
  background: linear-gradient(0deg, #e1ecff 0%, #b0d5ff 47%, #67a1ff 100%);
}

.header__title {
  font-family: 'Pacifico', cursive;
  font-size: 70px;
  padding: 25px 0 30px 0;
}

.header__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__text {
  text-align: center;
  padding: 0 10px;
  max-width: 700px;
  line-height: 1.4;
  font-size: 16px;
}

.header__rules {
  display: inline-block;
  cursor: help;
  opacity: 0.6;
  text-decoration: underline;
}

.header__rules:hover {
  color: blue;
}

.header__text._hide {
  display: none;
}

.main__color {
  display: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  position: relative;
  bottom: 30px;
  -webkit-animation: opacity 1s linear;
          animation: opacity 1s linear;
}

.main__rewarditem {
  -webkit-animation: opacity 1s linear;
          animation: opacity 1s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 10px 0;
}

.main__star {
  width: 40px;
  height: 40px;
}

.main__rewardtext {
  font-size: 16px;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  font-family: 'Roboto', sans-serif;
  padding: 0 0 20px 0;
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content._hide {
  display: none;
}

.color__game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 0 0;
}

.color__text {
  padding: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color__text p {
  width: 20px;
  height: 20px;
  border-radius: 20%;
}

.color__text span {
  padding: 0 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.color__title {
  font-size: 16px;
  padding: 0 0 5px 0;
}

.color__board {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.color__clicks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
}

.color__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color__button {
  background-color: #ffc400;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
}

.items {
  margin: 0 60px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.items__cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.items__item {
  -webkit-transition: border 1s linear;
  transition: border 1s linear;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.22);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.22);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.38);
}

.items__item._disapear {
  -webkit-animation: disapear 30s linear infinite;
          animation: disapear 30s linear infinite;
}

@-webkit-keyframes disapear {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disapear {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.items._win {
  position: relative;
  opacity: 0.9;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  bottom: 25px;
}

.items._win .items__item {
  -webkit-transition: border 1s linear;
  transition: border 1s linear;
  border: 1px solid rgba(255, 255, 255, 0);
}

.clicks__counter {
  padding: 10px 0;
  font-size: 30px;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stars__text {
  font-size: 16px;
  padding: 0 0 10px 0;
}

.stars__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stars__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stars__image {
  height: 50px;
  width: 50px;
}

.stars__description {
  font-size: 16px;
}

.stars__star {
  height: 40px;
  width: 40px;
}

.clicks._hide {
  display: none;
}

.stars._hide {
  display: none;
}

.popup {
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
  opacity: 1;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 20;
  font-family: 'Open Sans', sans-serif;
}

.popup__body {
  max-width: 820px;
  max-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  background: white;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.popup__content {
  margin: 0 auto;
  padding: 40px;
  position: relative;
}

.popup__cross {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup__cross::after, .popup__cross::before {
  content: "";
  width: 25px;
  height: 1px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.popup__cross::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__cross::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__title {
  text-align: center;
  font-size: 25px;
  padding: 0 0 20px 0;
}

.popup__text {
  text-align: justify;
  padding: 0 0 25px 0;
  line-height: 1.2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  padding: 0 40px 0 0;
  font-size: 20px;
}

.popup__text:nth-child(2) {
  padding: 0 0 0 40px;
}

.popup__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 0 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  width: 50%;
  height: 100%;
  -webkit-box-shadow: 0 0 5px 7px #cadcf9;
          box-shadow: 0 0 5px 7px #cadcf9;
}

.popup__screen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.popup__body_w {
  max-width: 900px;
}

.popup__content_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.popup__item_line {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__screen_w {
  padding: 10px 0 0 0;
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.popup__screen_w img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.popup__text_line {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.popup._close {
  display: none;
  -webkit-transition: all 2s linear 0s;
  transition: all 2s linear 0s;
}

.welcome {
  max-width: 1000px;
  margin: 0 auto;
}

.welcome__body {
  width: 100%;
}

.items__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items__title {
  font-size: 25px;
}

.items__button {
  background-color: white;
  font-size: 16px;
  padding: 5px 30px;
  border-radius: 5px;
}

.items__button._unavailable {
  opacity: 0.5;
}

.select {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.select__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.select__button {
  width: 100%;
  background-color: #ffc400;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
}

.select__button_r {
  background: red;
  background: linear-gradient(16deg, red 0%, #ff7700 85%);
  color: #fff;
}

.select__button_l {
  background-color: #d0ff00;
}

.select__button_h {
  background-color: #ff8800;
}

.select__about {
  font-size: 25px;
  width: 20px;
  margin: 0 5px;
  cursor: help;
  text-align: center;
}

.select__about:hover {
  text-decoration: underline;
}

.select__item_l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  margin: 0 0 0 30px;
}

.select__button._selected {
  opacity: 1;
}

.select__button._opacity {
  opacity: 0.4;
}

.red {
  background-color: #ff4848;
}

.green {
  background-color: #5fff5f;
}

.blue {
  background-color: #7e7eff;
}

.yellow {
  background-color: #ffff7e;
}

.black {
  background-color: #5e5e5e;
}

.purple {
  background-color: #da7eff;
}

.orange {
  background-color: #ffb27e;
}
