// Обнуление стилей
@import "nullstyle.scss";
// Подключение шрифтов

//SCSS

.header {
}
.main {
		&__color {
		}
}
.content {
    padding: 50px 0;
    max-width: 1000px;
    margin: 0 auto;
}
.color {

		&__game {
		}

		&__items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
		}

		&__item {
		}
}

.items {
    &__cols {
        display: flex;
        flex-direction: row;
    }
    &__item {
        width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: bold;
    }
}


.red{
    background-color: rgb(255, 72, 72);
}
.green{
    background-color: rgb(95, 255, 95);
}
.blue{
    background-color: rgb(126, 126, 255);
}
.yellow{
    background-color: rgb(255, 255, 126);
}
.black{
    background-color: rgb(94, 94, 94);
}
.purple{
    background-color: rgb(218, 126, 255);
}
.orange{
    background-color: rgb(255, 178, 126);
}